{
  "$schema": "https://opencode.ai/config.json",
  "autoupdate": false,
  "default_agent": "dialogue",
  "lsp": {},
  "permission": {
    "bash": "allow"
  },
  // I use `mise exec --cd / -- ...` to launch MCP servers with the Node instance installed globally by Mise
  "mcp": {
    "fetch": {
      "type": "local",
      "command": ["mise", "exec", "--cd", "/", "--", "mcp-server-fetch"],
      "enabled": true,
      "environment": {
        "DEFAULT_LIMIT": "0"
      }
    },
    "context7": {
      "type": "local",
      "command": ["mise", "exec", "--cd", "/", "--", "context7-mcp", "--api-key", "{{ gopass "context7/apikey"}}"],
      "enabled": true,
    },
    "tavily": {
      "type": "local",
      "command": ["mise", "exec", "--cd", "/", "--", "tavily-mcp"],
      "environment": {
        "TAVILY_API_KEY": "{{ gopass "tavily/apikey" }}",
        "DEFAULT_PARAMETERS": "{\"include_images\": false, \"max_results\": 15, \"search_depth\": \"advanced\"}"
      },
      "enabled": true,
    }
  },
  "plugin": [
    "@mohak34/opencode-notifier@0.2.8",
    "@slkiser/opencode-quota@3.10.1"
  ]
}
