# Host key from persistent storage
HostKey /var/lib/sklein-devbox/ssh-host-keys/ssh_host_ed25519_key

# Use non-privileged port for rootless container
Port 2222

PermitRootLogin no
PasswordAuthentication no
UsePAM yes
MaxAuthTries 10
AuthorizedKeysFile /home/sklein/.ssh/authorized_keys /home/sklein/.ssh/authorized_keys.devbox
AllowAgentForwarding yes
AllowTcpForwarding yes
ForceCommand /usr/local/bin/ssh-forcecommand-entrypoint.sh