{
  "opencode-go": {
    "type": "api",
    "key": "{{ gopass "opencode-go/apikey" }}"
  },
  "openrouter": {
    "type": "api",
    "key": "{{ gopass "openrouter/sklein-devbox/apikey" }}"
  },
  "deepseek": {
    "type": "api",
    "key": "{{ gopass "deepseek.com/opencode-sklein-devbox/apikey" }}"
  }
}
