{
  "hosts": {
    "forgejo.sklein.internal": {
      "type": "Application",
      "token": "{{ gopass "homelab/forgejo/admin/fj-cli-token" }}"
    }
  },
  "aliases": {
    "forgejo.sklein.internal:32222": "forgejo.sklein.internal"
  },
  "default_ssh": []
}
