{
  "name": "{{ project_name }}",
  "type": "module",
  "author": "{{ author_name }}",
  "license": "MIT",
  "scripts": {
    "lint": "biome lint",
    "format": "biome format --write",
    "check": "biome check --write",
    "sort-package-json": "sort-package-json"
  },
  "devDependencies": {
    "@biomejs/biome": "{{ last_biome_version }}",
    "sort-package-json": "^3.6.1"
  }
}
